img{
   width: 75px;
   height: 65px;
    right: 10px;
    position: fixed;
}

.panel-footer {
    background: #229922;
    color: black;
    text-align: center;
    height: 80px;
    margin-top: auto;
    position: fixed;
    width: 100%;
    top: 93%;
    padding-top: 20px;
}