.form-horizontal{
    padding-top: 100px;
}

.panel-primary{
    border-color: #114C11;
}

.panel-primary>.panel-heading {
    color: #FFF;
    background-color: #229922;
    border-color: #1F2123;
}

.container{
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

.col-md-5{
    width: 100%;
}

