body{
	background-color: #ffffff;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

.content{
	width: 700px;
	height: 200px;
	margin: auto;
	margin-top: 50px;
	background: #E9EBE4;
	box-shadow: 3px -4px 33px -9px #000000 inset;
	border-radius: 50px;
}

table{
	width: 80%;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 100px;
	background: white;
	border: 2px solid #0a6309;
}

.cross { cursor: pointer; }

th{
	text-align: center;
	border-bottom: 2px solid #0a6309;
}

td{
	border-left: 2px solid #0a6309;
	border-right: 2px solid #0a6309;
	width: 50%;
}

.status{
	width: 10%;
	text-align: left;
 	border-left: 2px solid #0a6309;
 }

.img-circle{
	border: 1px solid black;
	box-shadow: 0 1px 2px;
	margin-top: 10px;
	margin-left: 10px;
}
.btn{
	margin-top: 30px;
	margin-left: 900px;
	width: 200px;
}

.col-lg-12{
	padding-top: 100px;
}

a{
	color: #FFFFFF;
}

.button_start{
	float: right;
	margin-right: 15px;
}

.button_out{
	float: right;
	margin-right: 15px;
}

.table>.table-striped{
	padding-top: 100px;
	padding-left: 15px;
	padding-right: 15px;
	width: 90%;
}