.welcome-page {
    padding-top: 100px;
    width: 740px;
    height: 340px;
    background: #E1E1E1;
    color: rgb(0, 0, 0);
    margin-left: 30px;
    border-radius: 10px;
    text-align: center;
    opacity: 0.7;
}

.welcome-frame {
    padding-top: 30px;
    width: 800px;
    height: 400px;
    background: #229922;
    color: rgb(0, 0, 0);
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border-radius: 10px;
    text-align: center;
}